		/* Etusivu styles */
body{
	margin: 0;
	padding: 0;
	background: url(bg.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	font-family: 'Roboto Condensed',sans-serif;
	
}

.etusivu{
	text-align: center;
	
	position: fixed;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation-name: load;
	animation-duration: 0.5s;
	font-family: 'Roboto Condensed',sans-serif;

}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 30px;
  }
  
  input[type=submit] {
	width: 100%;
	background-color: #00b8de;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }


.etusivu h1{
	margin: 0;
	padding: 0 0 10px;
	text-align: center;
	font-size: 60px;
	font-family: 'Roboto Condensed',sans-serif;

}

.etusivu img{
	margin: 20;
	padding: 0 0 20px;


}

.login{
	
	text-align: center;
	width: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation-name: load;
	animation-duration: 1.5s;
	font-family: 'Roboto Condensed',sans-serif;
}


.login a{
		margin: 0;
	padding: 10 10 10px;
	
	font-size: 32px;
	color: #FFF;
	font-family: 'Roboto Condensed',sans-serif;
	
	
}
  .login a:hover {
    background-color: #FFF;
    color: black;
  }
.tilaa{
	
	text-align: center;
	width: 350px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
		animation-name: load;
	animation-duration: 1s;
	font-family: 'Roboto Condensed',sans-serif;
}


.tilaa a{
		margin: 0;
	padding: 10 10 10px;
	
	font-size: 32px;
	color: #FFF;
	font-family: 'Roboto Condensed',sans-serif;
	
	
}
  .tilaa a:hover {
    background-color: #FFF;
    color: black;
  }


		/* Login STYLES */
.loginbox{
		width: 320px;
		height: 420px;
		background: #333;
		color: #FFF;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%,-50%);
		box-sizing: border-box;
		padding: 70px 30px;
			animation-name: load;
	animation-duration: 0.8s;
	font-family: 'Roboto Condensed',sans-serif;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
		animation-name: load;
	animation-duration: 0.5s;
	font-family: 'Roboto Condensed',sans-serif;
}

.loginbox p{
	margin: 5;
	padding: 0;
	font-weight: bold;
    font-family: 'Roboto Condensed',sans-serif;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Roboto Condensed',sans-serif;

}

.etu{
	
		text-align: center;
	width: 250px;
	height: 30px;
	position: fixed;
	top: 100;
	left: 100;
		animation-name: load;
	animation-duration: 0.5s;
	font-family: 'Roboto Condensed',sans-serif;
}
.etu a{
		margin: 0;
	padding: 0 0 20px;
	
	font-size: 22px;
	font-family: 'Roboto Condensed',sans-serif;
	color: white;
	
	
}

		/* Tilaus STYLES */

.tilausbox{
		width: 520px;
		height: 820px;
		background: #333;
		color: #FFF;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%,-50%);
		box-sizing: border-box;
		padding: 70px 30px;
			animation-name: load;
	animation-duration: 0.5s;
	font-family: 'Roboto Condensed',sans-serif;
}
.tilausbox h2{
	margin: 0;
	padding: 0 0 50px;
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto Condensed',sans-serif;
}
.tilausbox input{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'Roboto Condensed',sans-serif;
	
}
.etusivunen{
	
		text-align: center;
	width: 250px;
	height: 30px;
	position: fixed;
	top: 100;
	left: 100;
		animation-name: load;
	animation-duration: 0.5s;
	font-family: 'Roboto Condensed',sans-serif;
}
.etusivunen a{
		margin: 0;
	padding: 0 0 20px;
	
	font-size: 22px;
	color: white;
	font-family: 'Roboto Condensed',sans-serif;
	
	
}
@keyframes load {
	0% {opacity: 0; top:0px;}
	100% {opacity: 1;}
}